<nav aria-label="breadcrumb" class="breadcrumb-row">
    <ul class="breadcrumb">
        <li class="breadcrumb__item">
            <a class="breadcrumb__link" [routerLink]="'/'">
                <i class="fas fa-home"></i>
                Книжковий інтернет-магазин
            </a>
        </li>
        <li class="breadcrumb__item" *ngFor="let breadcrumb of breadcrumbs">
            <a class="breadcrumb__link" [routerLink]="breadcrumb.url" routerLinkActive="router-link-active">
                {{ breadcrumb.label }}
            </a>
        </li>
    </ul>
</nav>