<nav aria-label="breadcrumb" class="breadcrumb-row">
    <ul class="breadcrumb">
        <li class="breadcrumb__item">
            <a class="breadcrumb__link home-link" [routerLink]="'/'">
                <svg class="home-icon">
                    <use xlink:href="#home-icon"></use>
                </svg>
                Головна
            </a>
            <svg class="arrow_next-icon">
                <use xlink:href="#arrow_next-icon"></use>
            </svg>
        </li>
        <li class="breadcrumb__item" *ngFor="let breadcrumb of breadcrumbs; let i = index">
            <a class="breadcrumb__link" [routerLink]="breadcrumb.url" routerLinkActive="router-link-active">
                {{ breadcrumb.label }}
            </a>
            <svg class="arrow_next-icon" *ngIf="i !== breadcrumbs.length - 1">
                <use xlink:href="#arrow_next-icon"></use>
            </svg>
        </li>
    </ul>
</nav>
