.breadcrumb {
  background: none;
}

.breadcrumb-row {
  margin: 30px 0;
  display: inline-block;
}

.breadcrumb__link {
  color: #606060;
  font-weight: 500;
}

.breadcrumb__link:hover {
  color: dimgrey;
  text-decoration: none;
}

.breadcrumb__item {
  list-style: none;
  float: left;
  margin-right: 10px;
  margin-bottom: 5px;
}

.breadcrumb__item:first-child {
  /*margin-left: 10px;*/
}

.breadcrumb__item:last-child {
  margin-right: 20px;
}

.breadcrumb__item:last-child .breadcrumb__link {
  color: #232F2B;
}

.breadcrumb__item::after {
  margin-left: 5px;
  content: url("src/assets/img/icons/arrow_right.svg");
  color: darkgrey;
}

.breadcrumb__item:last-child::after {
  content: "";
}

@media only screen and (max-width: 576px) {
  .breadcrumb-row {
    margin: 10px 0;
  }

  .breadcrumb__link {
    font-size: 13px;
  }
}