<div class="help-page__wrapper">
    <div class="help-page__content content">
        <div class="help-page__title-row">
            <h1 class="help-page__title">Як оформити замовлення</h1>
            <hr class="help-page__header-line">
        </div>
        <p class="help-page__content-text help-page__strong">
            Ми робимо все можливе, щоб процес покупок був зрозумілий і інтуїтивний, наскільки це можливо. Нижче Ви знайдете інформацію про те, як здійснювати
            покупки у нас.
        </p>
        <p class="help-page__content-text">
            <span class="help-page__strong">1.</span> Перебуваючи на сторінці товару, Ви можете отримати інформацію про товар: фотографії, характеристики, опис та відгуки
                                           покупців.
        </p>
        <p class="help-page__content-text">
            <span class="help-page__strong">2.</span> Після того, як Ви вибрали товар, Ви можете додати його у кошик.
        </p>
        <p class="help-page__content-text">
            <span class="help-page__strong">3.</span> Як тільки товар доданий у кошик, у верхньому правому куті сайту відобразиться повідомлення та кількість товарів у
                                           кошику.
        </p>
        <p class="help-page__content-text">
            <span class="help-page__strong">4.</span> Ви можете перейти до кошика, натиснувши на його іконку. У кошику ви можете змінити кількість товарів і подивитися
                                           попередню вартість замовлення.
        </p>
        <p class="help-page__content-text">
            <span class="help-page__strong">5.</span> Переконавшись, що все правильно, натисніть кнопку "Перейти до оформлення". Ви побачите доспупні способи доставки і
                                           оплати. Вибираючи спосіб
                                           доставки, заповніть необхідні поля з даними одержувача. Оберіть спосіб розрахунку, і, при виборі оплати на сайті,
                                           оплатіть замовлення. Для
                                           завершення оформлення, натисніть "Оформити замовлення".
        </p>
        <p class="help-page__content-text">
            <span class="help-page__strong">6.</span> Чекайте автоматичного підтвердження по e-mail. Вся подальша інформація про доставку буде приходити на ваш e-mail.
        </p>
    </div>
</div>