:host {
  display: block;
}

.page__form {
  margin-top: 20px;
}

.form__category-row {
  display: flex;
  flex-direction: row;
}

.form__form-control {
  margin-top: 15px;
}

.form-control {
  display: flex;
  flex-direction: column;
  font-weight: 500;
}

.form__select {
  padding: 10px 5px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  margin-bottom: 10px;
}

.form__option {
  padding: 10px 5px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  border-radius: 3px;
  margin-bottom: 10px;
}

.form-control_category {
  margin-right: 20px;
}

.form-control_price {
  max-width: 25%;
}

.form__label {
  padding: 5px 0;
}

.form-control__input {
  padding: 10px 5px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  border-radius: 3px
}

.form__button {
  width: 25%;
  margin-top: 30px;
  padding: 10px 25px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  border-radius: 3px;
  font-weight: 500;
  margin-bottom: 50px;
}
