.filters {
  margin-bottom: 10px;
}

.subcategory__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popup-filters {
  transition: all .35s;
  transform: translateX(-100%);
  opacity: 0;
  visibility: hidden;
}

.sorting-filters {
  background-color: white;
  padding: 15px 20px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  margin: 10px 0;
}

.product-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(316px, 316px));
  grid-gap: 10px;
  margin-bottom: 100px;
}

.subcategory__popup-filters-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all .35s;
  z-index: 100;
  background: rgba(0, 0, 0, .35);
  opacity: 0;
  visibility: hidden;
}

.filters-list__item {
  margin-right: 5px;
  font-weight: 500;
  cursor: pointer;
}

.btn-filter-row {
  display: none;
  background-color: white;
  padding: 15px 20px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  width: fit-content;
  margin: 10px 0;
}

@media only screen and (max-width: 1052px ) {

  .filters, .sorting-filters, .catalog__category-list {
    display: none;
  }

  .popup-filters {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }

  .btn-filter-row {
    display: flex;
  }

  .active {
    opacity: 1;
    visibility: visible;
  }
}
