<footer class="footer">
    <div class="container">
        <div class="footer__row">
            <div class="footer__column">
                <div class="footer__navigation navigation">
                    <a class="navigation__item" [routerLink]="['/help', 'delivery-and-payment']">
                        Доставка та оплата
                    </a>
                    <a class="navigation__item" [routerLink]="['/help', 'return-replacement']">
                        Повернення / Заміна
                    </a>
                    <a class="navigation__item" [routerLink]="['/help', 'consumer-support']">
                        Підтримка споживача
                    </a>
                </div>

                <div class="footer__subscribe_small-screen subscribe">
                    <div class="subscribe__wrapper">
                        <form action="#" class="subscribe__form">
                            <div class="subscribe__input">
                                <div class="subscribe__label">
                                    <label for="subscribe-email_small-screen">Підписатися на наші новини</label>
                                </div>
                                <input id="subscribe-email_small-screen"
                                       type="text"
                                       name="subscribe-email"
                                       placeholder="ваш e-mail">
                                <button class="subscribe-button" type="submit">
                                    <svg class="arrow_right-icon">
                                        <use xlink:href="#arrow_right-icon"></use>
                                    </svg>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="footer__contacts contacts">
                    <a class="contacts__item" href="mailto:svitoch@.gmail.com">
                        <svg class="email-icon">
                            <use xlink:href="#email-icon"></use>
                        </svg>
                        svitoch@.gmail.com
                    </a>
                    <a class="contacts__item contacts__phone link" href="tel:+380472360337">
                        <svg class="phone-icon">
                            <use xlink:href="#phone-icon"></use>
                        </svg>
                        +380 (472) 36-03-37
                    </a>
                    <a class="contacts__item contacts__address" href="http://maps.google.com/?q=вулиця Байди Вишневецького, 36, Черкаси, Черкаська область, 18000">
                        <svg class="address-icon">
                            <use xlink:href="#address-icon"></use>
                        </svg>
                            м. Черкаси, вул. Байди Вишнівецького, 38
                    </a>
                </div>
                <div class="footer__copyright">
                    <p>© 2020 svitoch - всі права захищені </p>
                </div>
            </div>
            <div class="footer__subscribe subscribe">
                <div class="subscribe__wrapper">
                    <form action="#" class="subscribe__form">
                        <div class="subscribe__input">
                            <div class="subscribe__label">
                                <label for="subscribe-email">Підписатися на наші новини</label>
                            </div>
                            <input id="subscribe-email" type="text" name="subscribe-email" placeholder="ваш e-mail">
                            <button class="subscribe-button" type="submit">
                                <svg class="arrow_right-icon">
                                    <use xlink:href="#arrow_right-icon"></use>
                                </svg>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</footer>
