.footer {
  background-color: #232F2B;
  height: 400px;
  color: #FFFFFF;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.025em;
}

.footer__row {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}

.footer__info {
  display: flex;
  flex-direction: column;
}

.contacts__phone {
  color: white;
  line-height: 2.8;
  font-weight: 400;
}

.footer__info a {
  text-decoration: none;
  color: #FFFFFF;
}

.footer__info a:nth-child(2) {
  padding: 10px 0;
}

.footer__contacts {
  margin-top: 60px;
}

.footer__contacts p:nth-child(2) {
  padding: 10px 0;
}

.phone-icon {
  position: relative;
  top: 0.125em;
  margin-right: 8px;
  background-image: url("../../../assets/img/icons/phone-icon_white.svg");
  height: 15px;
  width: 15px;
  display: inline-block;
  flex-shrink: 0;
}

.link:hover {
  text-shadow: 0 0 .65px black, 0 0 .65px black;
}

.address-icon {
  position: relative;
  top: 0.125em;
  margin-right: 8px;
  background-image: url("../../../assets/img/icons/address-icon_white.svg");
  height: 17px;
  width: 12px;
  display: inline-block;
  flex-shrink: 0;
}

.footer__copyright {
  margin-top: 30px;
  color: #545454;
}

.subscribe {
  margin-top: 154px;
  display: flex;
  flex-direction: column;
}

.subscribe__container {
  width: 301px;
}

.subscribe__input input {
  border: none;
  outline: none;
  border-bottom: 1px solid white;
  background-color: #232F2B;
  margin-top: 14px;
  width: 100%;
  padding-bottom: 11px;
  color: white;
}

.subscribe__input input:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}

.subscribe-button {
  position: absolute;
  background: none;
  padding-top: 10px;
  margin-left: -28px;
  border: none;
  cursor: pointer;
}


