.footer {
  background-color: #1C2A29;
  min-height: 400px;
  color: #FFFFFF;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.025em;
  padding-bottom: 50px;
  font-weight: 500;
}

.footer__row {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}

.footer__navigation {
  display: flex;
  flex-direction: column;
}

.contacts__phone {
  color: white;
  font-weight: 400;
}

.footer__navigation a {
  text-decoration: none;
  color: #FFFFFF;
}

.footer__navigation a:nth-child(2) {
  padding: 10px 0;
}

.footer__contacts {
  margin-top: 60px;
}

.contacts__item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  color: #FFF;
}

.footer__contacts p:nth-child(2) {
  padding: 10px 0;
}

.email-icon {
  margin-right: 8px;
  fill: white;
  height: 19px;
  width: 19px;
}

.phone-icon {
  margin-right: 8px;
  height: 19px;
  width: 19px;
  fill: none;
  stroke: white;
  stroke-width: 7px;
  stroke-miterlimit: 10;
}

.address-icon {
  margin-right: 8px;
  height: 19px;
  width: 19px;
  fill: white;
}


.footer__copyright {
  margin-top: 30px;
  color: #545454;
}

.subscribe__wrapper {
  margin-top: 154px;
  display: flex;
  flex-direction: column;
  max-width: 301px;
  text-align: left;
}

.subscribe__input input {
  border: none;
  outline: none;
  border-bottom: 1px solid white;
  background-color: #1C2A29;
  margin-top: 14px;
  width: 100%;
  padding-bottom: 11px;
  color: white;
}

.subscribe__input input:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}

.subscribe-button {
  background: none;
  padding-top: 10px;
  border: none;
  left: 91%;
  bottom: 35px;
  position: relative;
  cursor: pointer;
}

.arrow_right-icon {
  height: 19px;
  width: 19px;
  fill: white;
}

.footer__subscribe_small-screen {
  display: none;
}

@media only screen and (max-width: 768px) {
  .footer__row {
    margin-top: 50px;
    flex-direction: column;
    text-align: center;
  }

  .navigation__item {
    margin-bottom: 10px;
  }

  .subscribe__wrapper {
    margin: 40px auto;
  }

  .footer__subscribe {
    display: none;
  }

  .footer__subscribe_small-screen {
    display: flex;
  }

  .footer__contacts {
    margin-top: 0;
  }

  .contacts__item {
    justify-content: center;
  }
}

@media only screen and (max-width: 576px) {
  .footer {
    padding-bottom: 80px;
  }
}

