<div class="help-page__wrapper">
    <div class="help-page__content content">
        <div class="help-page__title-row">
            <h1 class="help-page__title">Доставка та оплата</h1>
            <hr class="help-page__header-line">
        </div>
        <h1 class="help-page__header">Доставка</h1>
        <p class="help-page__content-text">
            Вартість кур’єрської доставки: 110 UAH.
        </p>
        <p class="help-page__content-text">
            При замовленні від 950 UAH, доставка безкоштовна.
        </p>
        <p class="help-page__content-text">
            ** Доставка тільки в населені пункти, керовані Українським урядом / адміністрацією України.
        </p>

        <hr class="help-page__header-line">

        <h1 class="help-page__header">Оплата</h1>
        <p class="help-page__content-text">
            У нашому інтернет-магазині Ви можете оплатити замовлення готівкою при отриманні.
        </p>
    </div>
</div>