.container {
  padding-bottom: 100px;
}

.help__wrapper {
  margin-top: 20px;
  display: flex;
}

.help__navigation {
  margin-top: 70px;
  min-width: 230px;
  margin-right: 100px;
}

.navigation {
  display: flex;
  flex-direction: column;
  font-size: 12px;
}

.link_navigation {
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.75);
  margin-bottom: 20px;
}

.breadcrumb-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.router-outlet {
  width: 100%;
}

.router-outlet-row {
  display: flex;
  flex-direction: column;
}

.router-outlet-row__btn {
  margin-bottom: 40px;
  font-size: 18px;
  text-align: left;
  font-weight: 500;
  display: none;
}

.help__navigation_small {
  display: none;
}

.router-outlet-row_small {
  display: none;
}

.help__navigation_large {
  display: flex;
}

@media only screen and (max-width: 992px) {

  .help__navigation {
    margin-right: 50px;
  }
}



@media only screen and (max-width: 768px) {

  .help__navigation {
    margin-top: 0;
    margin-right: 50px;
    display: none;
  }

  .help__navigation_small {
    display: flex;
  }

  .help__navigation_large {
    display: none;
  }

  .router-outlet-row__btn {
    display: flex;
  }
  .router-outlet-row_large {
    display: none;
  }
  .router-outlet-row_small {
    display: flex;
  }
}