.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  box-shadow: 0 0 20px rgba(0, 0, 0, .2);
}

.substrate {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-color: rgba(0, 0, 0, .7);
}

.top-navigation {
  height: 100px;
  background-color: #FFFFFF;
}

.top-navigation__body {
  height: 100%;
  display: flex;
  align-items: center;
}

.navigation__link {
  font-weight: 600;
  text-transform: uppercase;
  color: rgb(55, 55, 55);
}


.btn-menu {
  color: rgb(47, 79, 79);
  cursor: pointer;
}

.btn-menu-active {
  background-color: darkslategrey;
  color: white;
}

.btn-menu-active .chevron_down-icon {
  transform: rotate(180deg);
}

.btn-menu__description {
  color: inherit;
  margin-right: 8px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 18px;
}

.search__wrapper {
  width: 250px;
  height: 50px;
  display: flex;
  position: relative;
  transition: all .35s;
  margin-left: 30px;
}

.search__wrapper-2 {
  width: 100%;
  height: 40px;
  display: none;
  position: relative;
  transition: all .35s;
  background-color: #FFF;
}

.search__input-row {
  width: 100%;
}

.backdrop {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, .7);
  transition: visibility 0s, opacity .35s ease;
}

.search {
  height: 100%;
  width: 100%;
  padding: 0 20px;
  border-radius: 25px;
  background-color: #efefef;
  display: inline-flex;
  -webkit-box-align: center;
  position: relative;
  z-index: 2;
  align-items: center;
  transition: all .25s, height 0s;
}

.search:hover {
  background-color: #e3e3e3;
}

.search:focus-within {
  background-color: #e3e3e3;
}

.focused:hover {
  background-color: white;
}

.focused:focus-within {
  background-color: white;
}

.search__input {
  width: 100%;
  border: none;
  padding: 16px 0;
  background-color: transparent;
}

.search__btn {
  margin-right: 15px;
  color: #707070;
  transition: color .35s;
  position: relative;
  top: 1px;
}

.search__icon-2 {
  display: none;
  width: 20px;
  height: 20px;
  fill: none;
  stroke-linejoin: round;
  stroke: #545454;
}

.search__icon {
  width: 21px;
  height: 21px;
  display: inline-block;
  vertical-align: middle;
}

.focused {
  background-color: white;
  min-width: calc(30vw);
}

.visible {
  opacity: 1;
  visibility: visible;
}


.sub-menu__item:hover .sub-sub-menu {
  opacity: 1;
  visibility: visible;
}

.menu {
  display: flex;
}

.top-navigation__btn-menu-wrapper {
  position: relative;
  margin-right: 20px;
  padding: 0 20px;
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: 25px;
  transition: all .35s;
}

.top-navigation__btn-menu-wrapper:hover {
  background-color: darkslategrey;
  color: white;
}

.menu__central-block-link {
  display: flex;
  align-items: center;
  width: 20%;
  max-height: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.btn-account {
  display: flex;
  align-items: center;
}

.menu__sub-menu-wrapper {
  position: absolute;
  top: 110%;
  left: 0;
  z-index: 3;
}

.menu__sub-menu {
  text-transform: uppercase;
  border-radius: 5px;
  padding: 5px 0;
}

.menu__sub-menu-wrapper {
  opacity: 0;
  visibility: hidden;
}

.sub-menu, .sub-sub-menu {
  width: auto;
  background: #FFFFFF;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .25);
  transition: all .2s;
}

.sub-menu__sub-sub-menu {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  margin-top: -5px;
  padding: 5px 0;
  left: 99.3%;
  text-transform: none;
  border-radius: 5px;
  background-color: #F5F5F5;
  max-width: 100%;
  z-index: -1;
}

.sub-menu__item:first-child .sub-menu__link, .sub-menu__item:first-child .sub-sub-menu__item:first-child .sub-sub-menu__link {
  padding-top: 15px;
}

.sub-menu__item:first-child .sub-sub-menu {
  position: absolute;
  margin-top: -30px;
}

.sub-menu__item, .sub-sub-menu__item {
  white-space: nowrap;
  width: 100%;
  display: flex;
  padding-right: 5px;
}

.sub-menu__item_display-flex {
  display: flex;
  justify-content: space-between;
  padding: 0 30px 0 0;
}

.sub-menu__btn-close {
  font-size: 24px;
}

.sub-menu__item:hover, .sub-sub-menu__item:hover {
  background-color: #2f4f4f;
}

.sub-menu__link {
  font-weight: 500;
  padding: 10px 40px 10px 20px;
  width: 100%;
  display: flex;
}

.sub-sub-menu__link {
  font-weight: 400;
  display: flex;
  padding: 10px 20px;
}

.sub-menu__item:hover > .sub-menu__link, .sub-sub-menu__item:hover > .sub-sub-menu__link {
  color: white;
}

.sub-menu__item:hover .chevron_right-icon {
  stroke: transparent;
}

.sub-menu__link_font-color {
  color: #2f4f4f;
  font-weight: 600;
}

.bottom-nav__wrapper {
  height: 50px;
  background-color: #F8F8F8;
  transition: all .35s;
}

.bottom-nav-search {
  height: 50px;
  background-color: #F8F8F8;
  transition: all .35s;
}

.bottom-nav-search-2 {
  height: 33px;
  transition: all .35s;
  width: 100%;
}

.bottom-nav {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.bottom-nav__left-block {
  display: flex;
  align-items: center;
}

.bottom-nav__left-block-item {
  height: 100%;
  display: flex;
  align-items: center;
}

.bottom-nav__left-block-item:hover {
  background-color: white;
}

.bottom-nav__left-block-item .navigation__link {
  text-transform: none;
}


.bottom-nav__right-block {
  display: flex;
  align-items: center;
}

.bottom-nav__right-block-item {
  height: 100%;
  display: flex;
  align-items: center;
}

.bottom-nav__right-block-item:hover {
  background-color: white;
}

.item-link {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.item-link-active {
  background-color: white;
  border-bottom: 2px solid darkslategrey;
  color: black;
}


.phone-icon {
  margin-right: 5px;
  height: 25px;
  width: 25px;
  fill: none;
  stroke: darkslategrey;
  stroke-width: 6px;
  stroke-miterlimit: 10;
}

.chevron_down-icon {
  width: 12px;
  height: 12px;
  stroke-width: 3px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke: currentColor;
  fill: currentColor;
  transition: transform 0.3s;
}

.chevron_right-icon {
  width: 12px;
  height: 12px;
  stroke-width: 3px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke: #000;
  transform: rotate(-90deg);
  align-self: center;
}

.action__menu {
  display: flex;
}

.btn-shopping-cart {
  align-items: center;
  display: flex;
  line-height: 100%;
  background-color: darkslategrey;
  border-radius: 25px;
  height: 50px;
  padding: 0 22px;
  width: 187px;
  color: white;
  justify-content: space-between;
  margin-left: 40px;
}

.profile-icon {
  margin-right: 15px;
  width: 25px;
  height: 25px;
  fill: #545454;
}

.shopping-cart-icon {
  fill: white;
  width: 25px;
  height: 25px;
  margin-right: auto;
}

.search-icon {
  width: 21px;
  height: 21px;
  fill: none;
  stroke-linejoin: round;
  stroke: #606060;
}

.menu__central-block-item-logo {
  margin: 0 auto;
  max-height: 69px;
  max-width: 100%;
}

.btn-account__description {
  white-space: nowrap
}

.top-navigation__icon-nav {
  flex-direction: column;
  display: none;
}

.icon-menu-icon {
  width: 18px;
  height: 18px;
  fill: #545454;
}

.header-bottom {
  display: none;
}

.btn-shopping-cart__description {
  margin-right: auto;
}


@media only screen and (min-width: 1920px) {
  .navigation__link {
    font-size: 18px;
  }
}

@media only screen and (max-width: 1600px) {
  .top-navigation__btn-menu-wrapper {
    margin-right: 0;
  }

  .btn-shopping-cart {
    margin-left: 20px;
  }

  .profile-icon {
    margin-right: 8px;
  }

  .search__wrapper {
    width: 230px;
  }
}


@media only screen and (max-width: 1400px) {

  .btn-account__description {
    display: none;
  }

  .profile-icon {
    margin-right: 0;
  }
}

@media only screen and (max-width: 1200px) {
  .search__wrapper {
    width: 205px;
  }

  .phone__description {
    display: none;
  }

  .item-link {
    font-size: 12px;
  }

  .top-navigation__btn-menu-wrapper {
    margin-right: 0;
  }

  .btn-shopping-cart {
    height: 37px;
  }

  .search__wrapper {
    height: 37px;
  }

  .top-navigation__btn-menu-wrapper {
    height: 37px;
  }

  .chevron_down-icon {
    width: 10px;
    height: 10px;
  }

  .btn-menu__description {
    font-size: 14px;
  }

  .menu__central-block-item-logo {
    max-height: 52px;
  }
}

@media only screen and (max-width: 992px) {
  .bottom-nav__wrapper {
    height: 40px;
  }

  .search__wrapper {
    width: 160px;
  }

  .search__btn {
    margin-right: 10px;
  }

  .search-icon {
    width: 17px;
    height: 17px;
  }

  .search__input {
    width: 100%;
    padding: 10px 0;
    font-size: 12px;
  }

  .btn-shopping-cart__description {
    display: none;
  }

  .btn-shopping-cart {
    background-color: inherit;
    width: fit-content;
    padding: 0;
  }

  .shopping-cart-icon {
    fill: #545454;
  }

  .top-navigation {
    height: 75px;
  }

  .phone__link {
    padding: 0 0 0 10px;
  }

  .navigation__link {
    font-size: 12px;
  }

  .btn-menu__description {
    font-size: 12px;
  }

  .top-navigation__btn-menu-wrapper {
    padding: 0 10px;
  }

  .menu__central-block-link {
    width: 25%;
  }
}


@media only screen and (max-width: 768px) {
  .top-navigation__btn-menu-wrapper {
    display: none;
  }

  .btn-account {
    display: none;
  }

  .bottom-nav__left-block {
    display: none;
  }

  .bottom-nav__wrapper {
    display: none;
  }

  .search__wrapper {
    display: none;
  }

  .search__icon-2 {
    display: block;
  }

  .menu__central-block-link {
    width: 30%;
  }

  .top-navigation__icon-nav {
    display: flex;
  }

  .bottom-nav__right-block {
    display: none;
  }

  .top-navigation {
    height: 60px;
  }

  .search__wrapper-2 {
    display: flex;
    position: absolute;
    top: 10px;
    left: 9%;
    width: 82%;
    padding: 0;
  }

  .menu__central-block-item-logo {
    display: none;
  }
}

@media only screen and (max-width: 576px) {
  .search__wrapper-2 {
    width: 90%;
    left: 5%;
  }

  .header-bottom__icon {
    width: 20px;
    height: 20px;
    fill: #545454;
    margin: 0 auto;
  }

  .header-bottom {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 50px;
    bottom: 0;
    background-color: #FFF;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    font-size: 12px;
  }

  .top-navigation__icon-nav {
    display: none;
  }

  .btn-shopping-cart {
    display: none;
  }

  .header-bottom__item {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 20%;
  }

}


@media screen and (max-width: 320px) {
  .sub-menu__item {
    font-size: 10px;
  }
}

.close {
  opacity: 0;
  visibility: hidden;
  height: 0;
}

.open {
  opacity: 1;
  visibility: visible;
}
