.navigation__menu {
  margin-top: 15px;
  align-items: center;
}

.navigation__item {
  padding-bottom: 10px;
}

.navigation__link {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}

.navigation__item:hover .sub-menu {
  opacity: 1;
  visibility: visible;
}

.sub-menu__item:hover .sub-sub-menu {
  opacity: 1;
  visibility: visible;
}

.menu {
  display: flex;
  justify-content: space-between;
}

.menu__sub-menu {
  position: absolute;
  margin-top: 10px;
  z-index: 2;
  text-transform: uppercase;
}

.menu__sub-menu_small {
  left: 0;
  top: 0;
  margin-top: 0;
  z-index: 2;
  height: 100vh;
  width: 100%;
  text-align: left;
  position: fixed;
}

.sub-menu__sub-sub-menu {
  position: absolute;
  margin-top: -25px;
  left: 100%;
  text-transform: none;
}

.sub-menu__sub-sub-menu_small {
  margin-top: 0;
  left: 0;
  top: 0;
  width: 100%;
  text-align: left;
  height: 100vh;
  z-index: 3;
}

.sub-menu, .sub-sub-menu {
  opacity: 0;
  visibility: hidden;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);

  transition: all .2s;
}


.sub-sub-menu {
  background: #F8F8F8;
}

.sub-menu__item:first-child, .sub-menu__item:first-child .sub-sub-menu__item:first-child {
  padding-top: 15px;
}

.sub-menu__item:first-child .sub-sub-menu {
  position: absolute;
  margin-top: -30px;
}

.sub-menu__item, .sub-sub-menu__item {
  white-space: nowrap;
  margin-right: 20px;
  width: 100%;
  padding: 10px 0;
}

.sub-menu__item_display-flex {
  display: flex;
  justify-content: space-between;
  padding: 0 30px 0 0;
}

.sub-menu__btn-close {
  font-size: 24px;
}

.link_padding {
  padding: 9px 25px;
}

.link:hover {
  text-shadow: 0 0 .65px black, 0 0 .65px black;
}

.sub-menu__item:hover, .sub-sub-menu__item:hover {
  background-color: #CBDAD3;
}

.sub-menu__link:hover, .sub-sub-menu__item:hover {
  text-shadow: 0 0 .65px black, 0 0 .65px black;
}

.arrow-right {
  position: absolute;
  margin-left: -5px;
  background: url("../../../assets/img/icons/arrow_right.svg") no-repeat;
  display: inline-block;
  height: 10px;
  width: 10px;
  margin-right: 14px;
  margin-top: 4px;
}

.header__action {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.action__phone {
  margin-bottom: 10px;
}

.phone-icon {
  position: relative;
  top: 0.125em;
  margin-right: 8px;
  background-image: url("../../../assets/img/icons/phone.svg");
  height: 15px;
  width: 15px;
  display: inline-block;
  flex-shrink: 0;
}

.phone-icon_small {
  display: none;
  position: relative;
  top: 0.125em;
  margin-right: 8px;
  background-image: url("../../../assets/img/icons/phone_small.svg");
  height: 25px;
  width: 25px;
  flex-shrink: 0;
}

.action__menu {
  display: flex;
}

.account-icon {
  position: relative;
  top: 0.125em;
  margin-right: 30px;
  background-image: url("../../../assets/img/icons/account.svg");
  height: 40px;
  width: 40px;
  display: inline-block;
  flex-shrink: 0;
}

.shopping-cart-icon {
  position: relative;
  top: 0.125em;
  background-image: url("../../../assets/img/icons/shopping-cart_icon.svg");
  height: 40px;
  width: 43px;
  display: inline-block;
  flex-shrink: 0;
}

.header__search {
  margin-top: 30px;
  position: relative;
  z-index: 1;
}

.search__form {
  display: flex;
  flex-direction: row;
}

.search__input {
  height: 60px;
  background: #f8f8f8 url("../../../assets/img/icons/search.svg") no-repeat 15px center;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 3px 0 0 3px;
  width: calc(100% - 115px);
  padding: 0 48px;
}

.search__input:focus {
  background: #Ffffff url("../../../assets/img/icons/search.svg") no-repeat 15px center;
}

.search__input:hover {
  background: #Ffffff url("../../../assets/img/icons/search.svg") no-repeat 15px center;
}

.search__button {
  width: 115px;
  height: 60px;
  background: #F8F8F8;
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  border-radius: 0 3px 3px 0;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
}

.search__button:hover {
  background: #FFFFFF;
}

.navigation__item_margin-logo {
  width: 25%;
  margin: 0 15%;
}

.navigation__item-logo {
  width: 100%;
}

.navigation__menu_small {
  display: none;
}

.menu_small__item_items {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.menu_small__item_logo {
  width: 30%;
  margin: 15px auto 30px;
}

@media only screen and (max-width: 2560px) {
  .navigation__link {
    font-size: 18px;
  }

  .navigation__item_margin-logo {
    margin: 0 12%;
  }
}


@media only screen and (max-width: 1920px) {
  .navigation__link {
    font-size: 14px;
  }

  .navigation__item_margin-logo {
    margin: 0 10%;
  }
}


@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 992px) {

  .menu {
    display: none;
  }

  .navigation__menu_small {
    display: flex;
    flex-direction: column;
  }
}


@media only screen and (max-width: 768px) {

  .menu {
    display: none;
  }

  .navigation__menu_small {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 576px) {

  .menu {
    display: none;
  }

  .menu_small__item_items {
    margin: 0 auto;
    text-align: center;
    flex-direction: column;
  }

  .menu_small__item_items .navigation__item {
    margin: 10px;
  }

  .menu_small__item_logo {
    width: 50%;
  }

  .phone__link {
    display: none
  }

  .phone-icon_small {
    display: inline-block;
  }

  .action__menu {
    width: 100%;
    justify-content: space-around;
  }

  .account-icon {
    margin-right: 0;
    background-image: url("../../../assets/img/icons/account_small.svg");
    height: 25px;
    width: 25px;
  }

  .shopping-cart-icon {
    background-image: url("../../../assets/img/icons/shopping-cart_small.svg");
    height: 25px;
    width: 27px;
  }

  .header__search {
    margin: 20px 0;
  }

  .search__input {
    height: 40px;
    background: #f8f8f8 url("../../../assets/img/icons/search_small.svg") no-repeat 7px center;
    width: calc(100% - 85px);
    padding: 0 10px 0 27px;
  }

  .search__input:focus {
    background: #Ffffff url("../../../assets/img/icons/search_small.svg") no-repeat 7px center;
  }

  .search__input:hover {
    background: #Ffffff url("../../../assets/img/icons/search_small.svg") no-repeat 7px center;
  }

  .search__button {
    width: 85px;
    height: 40px;
    font-size: 14px;
  }
}

.sub-sub-menu__header {
  margin: 15px;
  font-size: 18px;
  font-weight: 500;
}

.header-line {
  height: 1px;
  background-color: rgba(0, 0, 0, 0.25);
  /*margin-bottom: 30px;*/
  margin: 0 30px 10px 15px;
}

.link_font-size {
  font-size: 14px;
  padding: 9px 15px;
}