<div class="container">
    <header class="header">
        <nav class="header__navigation navigation">
            <div class="icon-navigation navigation__icon">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <ul class="navigation__menu menu">
                <li class="navigation__item navigation__item_margin-category">
                    <a [routerLink]="['/catalog']" class="link navigation__link" routerLinkActive="active"
                       [routerLinkActiveOptions]="{exact: true}">
                        Всі книги
                    </a>
                    <ul class="menu__sub-menu sub-menu">
                        <li class="sub-menu__item">
                            <a class="link link_padding" [routerLink]="['/catalog', 'categories']" routerLinkActive="active">
                                Всі категорії
                            </a>
                        </li>
                        <li class="sub-menu__item"
                            *ngFor="let category of arrCategories">
                            <a [routerLink]="['/catalog', category.id]" class="sub-menu__link link link_padding" routerLinkActive="active"
                               [routerLinkActiveOptions]="{exact: true}">
                                {{category.name}}
                            </a>
                            <em *ngIf="category.iSubcategory === true" class="arrow-right"></em>
                            <ul class="sub-menu__sub-sub-menu sub-sub-menu" *ngIf="arrSubcategories">

                                <li class="sub-sub-menu__item" *ngIf="category.iSubcategory" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">
                                    <a class="sub-menu__link link link_padding" [routerLink]="['/catalog', category.id, 'subcategories']">
                                        Всі підкатегорії
                                    </a>
                                </li>
                                <ng-container *ngFor="let subcategory of arrSubcategories">
                                    <li class="sub-sub-menu__item" *ngIf="subcategory.categoryId === category.id" routerLinkActive="active"
                                        [routerLinkActiveOptions]="{exact: true}">
                                        <a class="sub-menu__link link link_padding" [routerLink]="['/catalog', category.id, subcategory.id]">
                                            {{subcategory.name}}
                                        </a>
                                    </li>
                                </ng-container>

                                <li class="sub-sub-menu__item" *ngIf="category.iSubcategory" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">
                                    <a class="sub-menu__link link link_padding" [routerLink]="['/catalog', category.id, 'subcategories']">
                                        Всі підкатегорії
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="sub-menu__item">
                            <a class="link link_padding" [routerLink]="['/catalog', 'categories']" routerLinkActive="active">
                                Всі категорії
                            </a>
                        </li>
                    </ul>
                </li>
                <li class=" navigation__item navigation__item_margin-author">
                    <a [routerLink]="['/catalog-author']" class="link navigation__link" routerLinkActive="active">
                        всі автори
                    </a>
                </li>
                <li class="navigation__item navigation__item_margin-logo">
                    <a [routerLink]="['']" class="navigation__link link">
                        <img src="../../../assets/img/logo/logo.png" alt="logo">
                    </a>
                </li>
                <li class="navigation__item navigation__item_margin-info" routerLinkActive="active">
                    <a [routerLink]="['/help', 'delivery-and-payment']" class="navigation__link link">
                        доставка та оплата
                    </a>
                </li>
                <li class="navigation__item">
                    <a [routerLink]="['/help', 'contacts']" class="navigation__link link" routerLinkActive="active">
                        контакти
                    </a>
                </li>
            </ul>
        </nav>
        <div class="header__action action">
            <div class="action__phone phone">
                <a class="phone__link link" href="tel:+380472360337"><em class="phone-icon"></em>
                    +380 (472) 36-03-37
                </a>
            </div>
            <ul class="action__menu">
                <li class="action__item">
                    <a [routerLink]="['account-page']" class="link">
                        <em class="account-icon"></em>
                    </a>
                </li>
                <li class="action__item">
                    <a [routerLink]="['/cart']" class="link">
                        <em class="shopping-cart-icon"></em>
                    </a>
                </li>
            </ul>
        </div>
        <div class="header__search search">
            <form class="search__form" action="#">
                <input [(ngModel)]="productName"
                       class="search__input"
                       type="text"
                       name="search-input"
                       aria-label="Пошук товарів"
                       autocomplete="off"
                       placeholder="Введіть ключове слово, прізвище автора, ISBN, назву книги" (ngModelChange)="search()" (focusout)="clearInput()">
                <button class="search__button" (click)="search()">
                    Знайти
                </button>
            </form>
        </div>
    </header>
</div>
