<div class="help-page__wrapper">
    <div class="help-page__content content">
        <div class="help-page__title-row">
            <h1 class="help-page__title">умови використання інтернет-магазину</h1>
            <hr class="help-page__header-line">
        </div>
        <p class="help-page__content-text help-page__strong">
            Правила та умови використання сайту визначають правила користування веб-сайтом інтернет-магазину. Користуючись веб-сайтом Інтернет-магазину, Ви
            приймаєте і погоджуєтесь з обставинами, які передбачені цими Правилами та умовами використання.
        </p>
        <p class="help-page__content-text" style="text-decoration: underline">
            <span class="help-page__strong">1.</span> Терміни та визначення:
        </p>
        <p class="help-page__content-text">
            <span class="help-page__strong">1.1.</span> Договір, укладений на відстані – договір, укладений Продавцем із Покупцем (клієнтом) за допомогою
                                                        засобів
                                                        дистанційного зв'язку.
        </p>
        <p class="help-page__content-text">
            <span class="help-page__strong">1.2.</span>
            Інтернет–магазин – онлайн-магазин, який розміщується на сайті, який належить Продавцю та має адресу в мережі Інтернет www.reserved.com, на
            якому представлені Товари, що пропонуються для продажу, умови оплати, доставки, повернення цих Товарів.
        </p>
    </div>
</div>