:host {
  display: block;
}

.catalog__category {
  margin: 15px 0;
}

.main-goods__row {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 100px;
}

.main-goods__grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
}

.main-goods__cell {
  width: 20%;
  background: #FFFFFF;
  border-bottom: 1px solid #CBDAD3;
  border-right: 1px solid #CBDAD3;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 30px 0 20px 0;
}

.filters-list {
  display: flex;
}

@media only screen and (min-width: 1200px) {
  .main-goods__cell:nth-child(5n + 1) {
    border-left: 1px solid #CBDAD3;
  }

  .main-goods__cell:nth-child(-n+5) {
    border-top: 1px solid #CBDAD3;
  }
}

.main-goods__message-empty {
  margin-top: 40px;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 100px;
}

.categories {
  padding: 15px 0;
}

.filters-row {
  margin-top: 10px;
  display: flex;
}

.filters-list__item {
  margin-right: 5px;
  font-weight: 500;
  cursor: pointer;
}

.filters-list__title {
  font-size: 13px;
  text-transform: uppercase;
  cursor: pointer;
  padding-right: 25px;
}

.filters-list__icon {
  padding: 10px 0;
}

.filters-list__sublist {
  position: absolute;
  min-width: 260px;
  max-height: 428px;
  overflow: auto;
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  background-color: white;
  z-index: 2;
  padding: 10px 0px 0px;
}

.filters-sublist__title {
  display: block;
  position: relative;
  padding: 15px 20px 15px 45px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.filters-sublist__title:hover {
  background-color: #f2f2f2;
}

.filters-sublist__title:hover .checkbox ~ .checkmark {
  background-color: #ccc;
}

.filters-sublist__title .checkbox:checked ~ .checkmark {
  background-color: #33403b;
}

.checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  left: 20px;
  top: 13px;
  height: 18px;
  width: 18px;
  border: 1px solid rgba(0, 0, 0, 0.25);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.filters-sublist__title .checkbox:checked ~ .checkmark:after {
  display: block;
}

.filters-sublist__title .checkmark:after {
  left: 5px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

@media only screen and (max-width: 1200px) and (min-width: 992px) {
  .main-goods__cell {
    width: 25%;
  }

  .main-goods__cell:nth-child(4n + 1) {
    border-left: 1px solid #CBDAD3;
  }

  .main-goods__cell:nth-child(-n+4) {
    border-top: 1px solid #CBDAD3;
  }
}

@media only screen and (max-width: 992px) and (min-width: 768px) {
  .main-goods__cell {
    width: 33.3%;
  }

  .main-goods__cell:nth-child(-n+3) {
    border-top: 1px solid #CBDAD3;
  }

  .main-goods__cell:nth-child(3n+1) {
    border-left: 1px solid #CBDAD3;
  }
}

@media only screen and (max-width: 768px) and (min-width: 576px) {
  .main-goods__cell {
    width: 50%;
  }

  .main-goods__cell:nth-child(2n+1) {
    border-left: 1px solid #CBDAD3;
  }

  .main-goods__cell:nth-child(-n+2) {
    border-top: 1px solid #CBDAD3;
  }
}

@media only screen and (max-width: 576px) and (min-width: 320px) {
  .main-goods__cell {
    width: 50%;
  }

  .main-goods__cell:nth-child(2n+1) {
    border-left: 1px solid #CBDAD3;
  }

  .main-goods__cell:nth-child(-n+2) {
    border-top: 1px solid #CBDAD3;
  }

  .main-goods__image {
    margin: 15px auto 10px;
    width: 128px;
    height: 190px;
  }
}

@media only screen and (max-width: 320px) {
  .main-goods__cell {
    width: 100%;
  }

  .goods-section {
    margin-top: 0;
  }

  .main-goods__cell:nth-child(1n+1) {
    border-left: 1px solid #CBDAD3;
  }

  .main-goods__cell:nth-child(-n+1) {
    border-top: 1px solid #CBDAD3;
  }

  .main-goods__image {
    margin: 15px auto 10px;
    width: 128px;
    height: 190px;
  }
}