<div class="catalog">
    <div class="container">
        <app-breadcrumb></app-breadcrumb>
        <app-filters></app-filters>

        <div class="main-goods">
            <div class="main-goods__row">
                <div class="main-goods__grid" *ngIf="products$ | async as products; else loading">
                    <app-product class="main-goods__cell"
                                 *ngFor="let product of products | search : productService.productName"
                                 [product]="product">
                    </app-product>

                    <ng-container *ngIf="productService.isEmpty">
                        <p>
                            За результатом пошуку <span class="help-page__strong">"{{productService.productName}}"</span> нічого не знайдено.
                        </p>
                    </ng-container>
                </div>
            </div>
        </div>


        <ng-template #loading>
            <p>Завантаження...</p>
        </ng-template>
    </div>
</div>