<div class="catalog">
    <div class="container">
        <app-breadcrumb></app-breadcrumb>
        <div class="filters-row">
            <form action="">
                <ul class="filters-list" #filters>
                    <li class="filters-list__item">
                        <label class="filters-list__title" (click)="this.filtersItem === 'category' ? this.filtersItem = false : this.filtersItem = 'category'">
                            Категорія
                            <i class="filters-list__icon fas" [ngClass]="filtersItem === 'category' ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
                        </label>

                        <ul class="filters-list__sublist filters-sublist" *ngIf="filtersItem === 'category' && category$ | async as categories">
                            <li class="filters-sublist__item" *ngFor="let category of categories">
                                <label class="filters-sublist__title">{{category.name}}
                                    <input class="checkbox" type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                        </ul>
                    </li>

                    <li class="filters-list__item">
                        <label class="filters-list__title" (click)="this.filtersItem === 'author' ? this.filtersItem = false : this.filtersItem = 'author'">
                            Автор
                            <i class="filters-list__icon fas" [ngClass]="filtersItem === 'author' ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
                        </label>

                        <ul class="filters-list__sublist filters-sublist" *ngIf="filtersItem === 'author' && category$ | async as categories">
                            <li class="filters-sublist__item" *ngFor="let category of categories">
                                <label class="filters-sublist__title">{{category.name}}
                                    <input class="checkbox" type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                        </ul>
                    </li>

                    <li class="filters-list__item">
                        <label class="filters-list__title"
                               (click)="this.filtersItem === 'publication' ? this.filtersItem = false : this.filtersItem = 'publication'">
                            Видавництво
                            <i class="filters-list__icon fas" [ngClass]="filtersItem === 'publication' ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
                        </label>

                        <ul class="filters-list__sublist filters-sublist" *ngIf="filtersItem === 'publication' && category$ | async as categories">
                            <li class="filters-sublist__item" *ngFor="let category of categories">
                                <label class="filters-sublist__title">{{category.name}}
                                    <input class="checkbox" type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                        </ul>
                    </li>

                    <li class="filters-list__item">
                        <label class="filters-list__title" (click)="this.filtersItem === 'yearOfPublication' ? this.filtersItem = false : this.filtersItem
                        = 'yearOfPublication'">
                            Рік видання
                            <i class="filters-list__icon fas" [ngClass]="filtersItem === 'yearOfPublication' ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
                        </label>

                        <ul class="filters-list__sublist filters-sublist" *ngIf="filtersItem === 'yearOfPublication' && category$ | async as categories">
                            <li class="filters-sublist__item" *ngFor="let category of categories">
                                <label class="filters-sublist__title">{{category.name}}
                                    <input class="checkbox" type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                        </ul>
                    </li>

                    <li class="filters-list__item">
                        <label class="filters-list__title" (click)="this.filtersItem === 'binding' ? this.filtersItem = false : this.filtersItem = 'binding'">
                            Палітурка
                            <i class="filters-list__icon fas" [ngClass]="filtersItem === 'binding' ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
                        </label>

                        <ul class="filters-list__sublist filters-sublist" *ngIf="filtersItem === 'binding' && category$ | async as categories">
                            <li class="filters-sublist__item" *ngFor="let category of categories">
                                <label class="filters-sublist__title">{{category.name}}
                                    <input class="checkbox" type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                        </ul>
                    </li>
                </ul>
            </form>
        </div>
        <div class="main-goods">
            <div class="main-goods__row">
                <div class="main-goods__grid" *ngIf="products$ | async as products; else loading">
                    <app-product class="main-goods__cell"
                                 *ngFor="let product of products | search : productService.productName"
                                 [product]="product">
                    </app-product>

                    <ng-container *ngIf="productService.isEmpty">
                        <p>
                            За результатом пошуку <span class="help-page__strong">"{{productService.productName}}"</span> нічого не знайдено.
                        </p>
                    </ng-container>
                </div>
            </div>
        </div>


        <ng-template #loading>
            <p>Завантаження...</p>
        </ng-template>
    </div>
</div>