:host {
  display: block;
}

.catalog__category {
  margin: 15px 0;
}

.main-goods__message-empty {
  margin-top: 40px;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 100px;
}

.categories {
  padding: 15px 0;
}

@media only screen and (max-width: 1600px) {
  .main-goods__cell {
    width: calc(100% / 5);
  }
}


@media only screen and (max-width: 1400px) {
  .main-goods__cell {
    width: calc(100% / 4);
  }
}

@media only screen and (max-width: 1200px) {
  .main-goods__cell {
    width: calc(100% / 3);
  }
}

@media only screen and (max-width: 992px) {
  .main-goods__cell {
    width: calc(100% / 3);
  }
}

@media only screen and (max-width: 860px) {
  .main-goods__cell {
    width: calc(100% / 2);
  }
}


@media only screen and (max-width: 768px) {
  .main-goods__cell {
    width: calc(100% / 2);
  }
}

@media only screen and (max-width: 576px) {
  .main-goods__cell {
    width: 100%;
    padding: 5px;
  }

  .main-goods__image {
    margin: 15px auto 10px;
  }
}

@media only screen and (max-width: 320px) {
  .main-goods__cell {
    width: 100%;
  }

  .goods-section {
    margin-top: 0;
  }

  .main-goods__image {
    margin: 15px auto 10px;
  }
}
