<div class="filters-row">
    <form [formGroup]="filtersForm" (ngSubmit)="filter()">
        <ul class="filters-list" #filters>
            <li class="filters-list__item">
                <label class="filters-list__title"
                       (click)="this.filtersItem === 'category' ? this.filtersItem = false : this.filtersItem = 'category'">
                    Категорія
                    <svg [ngClass]="filtersItem === 'category' ? 'chevron_up-icon' : 'chevron_down-icon'">
                        <use xlink:href="#chevron-icon">
                        </use>
                    </svg>
                </label>

                <div class="filters-list__sublist filters-sublist" *ngIf="filtersItem === 'category'">
                    <div class="filters-sublist__item" *ngFor="let category of arrCategories">
                        <label class="filters-sublist__title">{{category.name}}
                            <input class="checkbox" type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="filters-sublist__item">
                        <label class="filters-sublist__title">Новий чекбокс
                            <input class="checkbox" type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="btn-wrapper">
                        <button class="btn btn-filter" type="submit">
                            Фільтрувати
                        </button>
                    </div>
                </div>
            </li>

            <li class="filters-list__item">
                <label class="filters-list__title"
                       (click)="this.filtersItem === 'author' ? this.filtersItem = false : this.filtersItem = 'author'">
                    Автор
                    <svg [ngClass]="filtersItem === 'author' ? 'chevron_up-icon' : 'chevron_down-icon'">
                        <use xlink:href="#chevron-icon">
                        </use>
                    </svg>
                </label>

                <div class="filters-list__sublist filters-sublist" *ngIf="filtersItem === 'author'">
                    <div class="filters-sublist__item" *ngFor="let category of arrCategories">
                        <label class="filters-sublist__title">{{category.name}}
                            <input class="checkbox" type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="btn-wrapper">
                        <button class="btn btn-filter">
                            Фільтрувати
                        </button>
                    </div>
                </div>
            </li>

            <li class="filters-list__item">
                <label class="filters-list__title"
                       (click)="this.filtersItem === 'publication' ? this.filtersItem = false : this.filtersItem = 'publication'">
                    Видавництво
                    <svg [ngClass]="filtersItem === 'publication' ? 'chevron_up-icon' : 'chevron_down-icon'">
                        <use xlink:href="#chevron-icon">
                        </use>
                    </svg>
                </label>

                <div class="filters-list__sublist filters-sublist" *ngIf="filtersItem === 'publication'">
                    <div class="filters-sublist__item" *ngFor="let category of arrCategories">
                        <label class="filters-sublist__title">{{category.name}}
                            <input class="checkbox" type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="btn-wrapper">
                        <button class="btn btn-filter">
                            Фільтрувати
                        </button>
                    </div>
                </div>
            </li>

            <li class="filters-list__item">
                <label class="filters-list__title" (click)="this.filtersItem === 'yearOfPublication' ? this.filtersItem = false : this.filtersItem
                        = 'yearOfPublication'">
                    Рік видання
                    <svg [ngClass]="filtersItem === 'yearOfPublication' ? 'chevron_up-icon' : 'chevron_down-icon'">
                        <use xlink:href="#chevron-icon">
                        </use>
                    </svg>
                </label>

                <div class="filters-list__sublist filters-sublist" *ngIf="filtersItem === 'yearOfPublication'">
                    <div class="filters-sublist__item" *ngFor="let category of arrCategories">
                        <label class="filters-sublist__title">{{category.name}}
                            <input class="checkbox" type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="btn-wrapper">
                        <button class="btn btn-filter">
                            Фільтрувати
                        </button>
                    </div>
                </div>
            </li>

            <li class="filters-list__item">
                <label class="filters-list__title"
                       (click)="this.filtersItem === 'binding' ? this.filtersItem = false : this.filtersItem = 'binding'">
                    Палітурка
                    <svg [ngClass]="filtersItem === 'binding' ? 'chevron_up-icon' : 'chevron_down-icon'">
                        <use xlink:href="#chevron-icon">
                        </use>
                    </svg>
                </label>

                <div class="filters-list__sublist filters-sublist" *ngIf="filtersItem === 'binding'">
                    <div class="filters-sublist__item" *ngFor="let category of arrCategories">
                        <label class="filters-sublist__title">{{category.name}}
                            <input class="checkbox" type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="btn-wrapper">
                        <button class="btn btn-filter">
                            Фільтрувати
                        </button>
                    </div>
                </div>
            </li>

            <li class="filters-list__item">
                <label class="filters-list__title"
                       (click)="this.filtersItem === 'language' ? this.filtersItem = false : this.filtersItem = 'language'">
                    Мова
                    <svg [ngClass]="filtersItem === 'language' ? 'chevron_up-icon' : 'chevron_down-icon'">
                        <use xlink:href="#chevron-icon">
                        </use>
                    </svg>
                </label>

                <div class="filters-list__sublist filters-sublist" *ngIf="filtersItem === 'language'">
                    <div class="filters-sublist__item" *ngFor="let category of arrCategories">
                        <label class="filters-sublist__title">{{category.name}}
                            <input class="checkbox" type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="btn-wrapper">
                        <button class="btn btn-filter">
                            Фільтрувати
                        </button>
                    </div>
                </div>
            </li>

            <li class="filters-list__item">
                <label class="filters-list__title"
                       (click)="this.filtersItem === 'series' ? this.filtersItem = false : this.filtersItem = 'series'">
                    Серія
                    <svg [ngClass]="filtersItem === 'series' ? 'chevron_up-icon' : 'chevron_down-icon'">
                        <use xlink:href="#chevron-icon">
                        </use>
                    </svg>
                </label>

                <div class="filters-list__sublist filters-sublist" *ngIf="filtersItem === 'series'">
                    <div class="filters-sublist__item" *ngFor="let category of arrCategories">
                        <label class="filters-sublist__title">{{category.name}}
                            <input class="checkbox" type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="btn-wrapper">
                        <button class="btn btn-filter">
                            Фільтрувати
                        </button>
                    </div>
                </div>
            </li>

            <li class="filters-list__item">
                <label class="filters-list__title"
                       (click)="this.filtersItem === 'price' ? this.filtersItem = false : this.filtersItem = 'price'">
                    Ціна
                    <svg [ngClass]="filtersItem === 'price' ? 'chevron_up-icon' : 'chevron_down-icon'">
                        <use xlink:href="#chevron-icon">
                        </use>
                    </svg>
                </label>

                <div class="filters-list__sublist filters-sublist" *ngIf="filtersItem === 'price'">
                    <div class="filters-sublist__item" *ngFor="let category of arrCategories">
                        <label class="filters-sublist__title">{{category.name}}
                            <input class="checkbox" type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="btn-wrapper">
                        <button class="btn btn-filter">
                            Фільтрувати
                        </button>
                    </div>
                </div>
            </li>
        </ul>
    </form>
</div>
<div class="btn-filter-row">
    <button class="btn-filter-row__btn">
        Фильтр
    </button>
</div>
