<div class="help-page__wrapper">
    <div class="help-page__content content">
        <div class="help-page__title-row">
            <h1 class="help-page__title">Повернення / заміна</h1>
            <hr class="help-page__header-line">
        </div>
        <h1 class="help-page__header">Повернення</h1>
        <p class="help-page__content-text help-page__strong">
            Якщо товар не відповідає вашим очікуванням, ви можете повернути його протягом 30 днів від дати покупки. Придбані товари повинні зберегти первинний
            вигляд, всі оригінальні етикетки і бирки.
        </p>
        <p class="help-page__content-text">
            <span class="help-page__strong">Товар можна повернути в інтернет-магазин, слідуючи інструкціям:</span>
            <br>
            - Заповнити форму онлайн-повернення, доступну на веб-сайті інтернет-магазину в вашому профілі.
            <br>
            - Запакувати товар - ви можете використовувати упаковку, в якій ви отримали замовлення від початку. Також необхідно додати заповнену форму
            повернення товарів, яку ви отримали в посилці.
        </p>
        <p class="help-page__content-text help-page__strong">
            Далі Ви можете повернути товар разом з заповненим бланком:
        </p>
        <p class="help-page__content-text">
            <span class="help-page__strong">1.</span> За допомогою «Нової Пошти» за адресою:
            <br>
                                                      Відділення «Нова Пошта» № 1, Україна, 79000, м. Черкаси, вул. Угорська, 22
            <br>
                                                      Одержувач - ****** (ПОВЕРНЕННЯ *** / Світоч),
            <br>
                                                      Телефон отримувача: +38 050 *** * ***.
        </p>
        <p class="help-page__content-text">
            <span class="help-page__strong">2.</span> За допомогою «Укрпошти» за адресою:
            <br>
                                                      ************* (*** / Світоч), Україна, 79000, м. Черкаси, вул. Словацького 1,
            <br>
                                                      Телефон отримувача: +38 067 *** * ***
        </p>
        <p class="help-page__content-text">
            <span class="help-page__strong">Послугу за повернення товару оплачує клієнт. У разі несплати посилка повернеться відправнику (клієнту).</span>
        </p>
        <p class="help-page__content-text">
            Через кілька днів після отримання нами посилки, ми повернемо вам її вартість (готівкою або на картку).
        </p>

        <hr class="help-page__header-line">
        <h1 class="help-page__header">Заміна</h1>
    </div>
</div>