:host {
  display: flex;
  height: 100%;
  flex-direction: column;
  overflow-y: auto;
}

.layout__header {
  flex: 0 1 auto;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 0 20px rgba(0, 0, 0, .2);
}

.layout__content {
  flex: 1 1 auto;
}

.layout__footer {
  flex: 0 1 auto;
}
