:host {
  display: block;
}

.container {
  min-height: 100vh;
}

.product {
  display: flex;
  padding-bottom: 100px;
}

.product__photo {
  flex: 1;
}

.product__image >>> img {
  width: 500px;
  height: 666.98px;
}

.product__info {
  flex: 2;
  margin-left: 60px;
}

.product__title-row {
  display: flex;
  justify-content: space-between;
}

.product__title {
  font-weight: 500;
  font-size: 36px;
}

.product__author {
  margin-top: 10px;
  font-size: 18px;
  color: #606060;
}

.product__purchase-line {
  display: flex;
  align-items: center;
  margin-top: 48px;
}

.product__price {
  font-weight: 500;
  font-size: 24px;
}

.btn:hover {
  text-shadow: 0 0 .65px black, 0 0 .65px black;
}

.product__btn-add-to-cart {
  margin-left: 40px;
}

.product__btn-add-to-cart {
  background: url("../../../../assets/img/icons/shopping-cart_icon.png") no-repeat scroll 0 0 transparent;
  height: 36px;
  width: 43px;
}

.product__info-title {
  margin-top: 50px;
}

.product__detail-info {
  font-weight: 500;
  font-size: 18px;
}

.product__specifications-title {
  margin-top: 40px;
  font-weight: 500;
  font-size: 24px;
}

.product__specifications-table {
  margin-top: 30px;
}

.product__specifications-table {
  width: 100%;
}

.table__row {
  display: flex;
  justify-content: space-between;
}

.table__header, .table__div {
  padding: 10px 5px;
  font-weight: 500;
  font-size: 14px;
}

.table__row:nth-child(2n + 1) {
  background-color: #f2f2f2;
  border-radius: 3px;
}

.table__row:hover {
  text-shadow: 0 0 .65px black, 0 0 .65px black;
}

.product__btn-back {
  min-width: fit-content;
  height: fit-content;
}


.product__info-text {
  margin-top: 25px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;

  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;

  line-height: 1.42;

}

.detail {
  -webkit-line-clamp: unset;
}

.btn-detail {
  text-align: right;
  margin-top: 10px;
  width: 100%;
}

.product__title-row_small {
  display: none;
}

@media only screen and (max-width: 1200px) and (min-width: 992px) {
  .product__image >>> img {
    width: 450px;
    height: 616.98px;
  }

  .product__title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 992px) and (min-width: 768px) {
  .product__image >>> img {
    width: 250px;
    height: 416.98px;
  }

  .product__title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 768px) and (min-width: 576px) {

  .product__image >>> img {
    width: 100%;
    height: 666.98px;
    margin-bottom: 15px;
  }

  .product {
    flex-direction: column;
  }

  .product__info {
    margin-left: 0;
  }

  .product__title-row {
    display: none;
  }

  .product__title-row_small {
    display: flex;
    margin-bottom: 15px;
  }

  .product__purchase-line {
    justify-content: space-around;
  }
}

@media only screen and (max-width: 576px) {
  .product__image >>> img {
    width: 100%;
    height: 463.98px;
    margin-bottom: 15px;
  }

  .btn {
    padding: 10px 15px;
  }

  .product__specifications-title {
    font-size: 18px;
  }

  .product {
    flex-direction: column;
  }

  .product__title {
    font-size: 18px;
  }

  .product__info {
    margin-left: 0;
  }

  .product__title-row {
    display: none;
  }

  .product__title-row_small {
    display: flex;
    margin-bottom: 15px;
  }

  .product__purchase-line {
    justify-content: space-around;
  }
}

