:host {
  display: block;
}

.goods-section {
  margin-top: 60px;
}

.main-goods__tabs {
  display: flex;
}

.main-goods__tab {
  background: none;
  border: none;
  font-size: 24px;
  margin-right: 50px;
  cursor: pointer;
}

.main-goods__tab:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}

.main-goods__tab_title-underline {
  text-decoration: underline;
}

.to-all-items-link {
  width: 100%;
  margin-top: 15px;
  font-weight: 600;
  text-align: center;
}

.product-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(316px, 316px));
  grid-gap: 10px;
}

@media only screen and (max-width: 1600px) {
  .main-goods__cell {
    width: calc(100% / 5);
  }
}


@media only screen and (max-width: 1400px) {
  .main-goods__cell {
    width: calc(100% / 4);
  }
}

@media only screen and (max-width: 1200px) {
  .main-goods__cell {
    width: calc(100% / 3);
  }

  .goods-section {
    margin-top: 40px;
  }
}

@media only screen and (max-width: 992px) {
  .main-goods__cell {
    width: calc(100% / 3);
  }

  .main-goods__tab {
    font-size: 18px;
    margin-right: 5px;
  }

  .main-goods__tabs {
    justify-content: space-between;
  }

  .goods-section {
    margin-top: 40px;
  }
}

@media only screen and (max-width: 860px) {
  .main-goods__cell {
    width: calc(100% / 2);
  }
}

@media only screen and (max-width: 768px) {
  .main-goods__cell {
    width: calc(100% / 2);
  }

  .goods-section {
    margin-top: 40px;
  }

  .main-goods__tab {
    font-size: 18px;
    margin-right: 5px;
  }

  .main-goods__tabs {
    justify-content: space-between;
  }
}

@media only screen and (max-width: 576px) {
  .main-goods__cell {
    width: 100%;
    padding: 5px;
  }

  .goods-section {
    margin-top: 0;
  }

  .main-goods__tabs {
    justify-content: space-between;
  }

  .main-goods__tab {
    font-size: 14px;
    margin-right: 5px;
  }

  .main-goods__tab:nth-child(2) {
    margin: 0 auto;
    padding: 0 8px;
  }

  .main-goods__image {
    margin: 15px auto 10px;
  }
}

@media only screen and (max-width: 320px) {
  .main-goods__cell {
    width: 100%;
  }

  .goods-section {
    margin-top: 0;
  }

  .main-goods__tabs {
    flex-direction: column;
    justify-content: space-between;
  }

  .main-goods__tab {
    font-size: 14px;
    margin-right: 5px;
  }

  .main-goods__tab:nth-child(2) {
    margin: 15px 0;
  }

  .main-goods__image {
    margin: 15px auto 10px;
  }
}
