<app-main-slider></app-main-slider>

<section class="goods-section">
    <div class="container">
        <div class="main-goods">
            <div class="main-goods__tabs">
                <button class="main-goods__tab"
                        [ngClass]="{'main-goods__tab_title-underline': selectedTab === 'best'}"
                        (click)="selectedTab = 'best'">
                    Хіти продажів
                </button>
                <button class="main-goods__tab"
                        [ngClass]="{'main-goods__tab_title-underline': selectedTab === 'rec'}"
                        (click)="selectedTab = 'rec'">
                    Рекомендуємо
                </button>
                <button class="main-goods__tab"
                        [ngClass]="{'main-goods__tab_title-underline': selectedTab === 'disc'}"
                        (click)="selectedTab = 'disc'">
                    Книги зі знижками
                </button>
            </div>
            <div class="main-goods__wrapper">
                <div class="main-goods__grid" *ngIf="products$ | async as products; else loading">
                    <ng-container *ngIf="selectedTab === 'best'">
                        <app-products-list
                                [products]="products"
                                class="product-list">
                        </app-products-list>
                    </ng-container>
                    <ng-container *ngIf="selectedTab === 'rec'">
                        <app-products-list
                                [products]="products"
                                class="product-list">
                        </app-products-list>
                    </ng-container>
                    <ng-container *ngIf="selectedTab === 'disc'">
                        <app-products-list
                                [products]="products"
                                class="product-list">
                        </app-products-list>
                    </ng-container>

                    <button class="to-all-items-link link">
                        Показати всі
                    </button>
                </div>
                <ng-template #loading>
                    <p>Завантаження...</p>
                </ng-template>
            </div>
        </div>
    </div>
</section>
