<div class="categories" *ngIf="category; else loading">
    <ng-container *ngIf="category.iSubcategory; else notSubcategory">
        <a [routerLink]="['/catalog', category.id, 'subcategories']" class="categories__image">
            Місце для фото
        </a>
        <a [routerLink]="['/catalog', category.id, 'subcategories']" class="main-categories__name">
            {{category.name}}
        </a>
    </ng-container>
    <ng-template #notSubcategory>
        <a [routerLink]="['/catalog', category.id]" class="categories__image">
            Місце для фото
        </a>
        <a [routerLink]="['/catalog', category.id]" class="main-categories__name">
            {{category.name}}
        </a>
    </ng-template>
</div>

<ng-template #loading>
    <p>Завантаження...</p>
</ng-template>