<div class="container">
    <app-breadcrumb></app-breadcrumb>

    <div class="main-subcategories__navigation navigation">
        <div class="navigation__row">
            <a class="link navigation__link" [routerLink]="['/catalog', paramsCategory]">
                Всі книги даної категорії
            </a>
            <a class="link navigation__link">
                Популярні підкатегорії
            </a>
            <a class="link navigation__link">
                Рекомендовані підкатегорії
            </a>
            <a class="link navigation__link">
                Бестселлери
            </a>
        </div>
    </div>

    <div class="main-subcategories__row">
        <div class="main-subcategories__grid" *ngIf="arrSubcategories; else loading">
            <app-subcategory class="main-subcategories__cell"
                             *ngFor="let subcategory of arrSubcategories"
                             [subcategory]="subcategory">
            </app-subcategory>

            <ng-container *ngIf="arrSubcategories.length < 1">
                <p class="main-subcategories__empty">У данної категорії немає підкатегорій</p>
            </ng-container>
        </div>
    </div>


    <ng-template #loading>
        <p>
            Завантаження...
        </p>
    </ng-template>
</div>