<div class="main-screen">
  <div class="main-screen__bg ibg">
    <img src="../../../../../assets/img/bg_main.jpg" alt="bg_main">
    <div class="main-slider-container">
      <div class="special-offer">
        <div class="slideshow-container">
          <div class="mySlides fade">
            <div class="number-text">1 / 3</div>
            <img src="../../../../../assets/img/Frame_1.png" style="width:100%">
          </div>

          <div class="mySlides fade">
            <div class="number-text">2 / 3</div>
            <img src="../../../../../assets/img/img_snow_wide.jpg" style="width:100%">
          </div>

          <div class="mySlides fade">
            <div class="number-text">3 / 3</div>
            <img src="../../../../../assets/img/img_nature_wide.jpg" style="width:100%">

          </div>
            <a class="prev" (click)="plusSlides(-1)" >❮</a>
            <a class="next" (click)="plusSlides(1)">❯</a>
        </div>
        <div style="text-align:center; position: relative; top: -40px">
          <span class="dot" onclick="currentSlide(1)"></span>
          <span class="dot" onclick="currentSlide(2)"></span>
          <span class="dot" onclick="currentSlide(3)"></span>
        </div>
      </div>
    </div>
  </div>
</div>
