<div class="main-screen">
    <div class="main-slider-container">
        <div class="special-offer">
            <div class="slideshow-container">
                <div class="mySlides fade">
                    <div class="fade__text-wrapper">
                        <p class="fade__text">
                            Купуй 2 книги зі знижкою <span style="color: #a52a2a; font-weight: 500;">10</span>%
                        </p>
                    </div>
                    <div class="fade__img-wrapper">
                        <img class="fade__img"
                             src="../../../../../assets/img/ni-sy-ne-noj-superkomplekt-iz-2-knig_034_300_300.png"
                             alt="img-1">
                    </div>
                </div>

                <div class="mySlides fade">
                    <div class="fade__text-wrapper">
                        <p class="fade__text">
                            Купуй «Джуді Муді» зі знижкою <span style="color: #a52a2a; font-weight: 500;">10</span>%
                        </p>
                    </div>
                    <div class="fade__img-wrapper">
                        <img class="fade__img" src="../../../../../assets/img/img_snow_wide.jpg" alt="img-2">
                    </div>
                </div>

                <div class="mySlides fade"><div class="fade__text-wrapper">
                    <p class="fade__text">
                        Купуй «Не ссы», «Не тупи», «Не ной» зі знижкою: <span style="color: #a52a2a; font-weight: 500;">10</span>%
                    </p>
                </div>
                    <div class="fade__img-wrapper">
                        <img class="fade__img" src="../../../../../assets/img/img_nature_wide.jpg" alt="img-3">
                    </div>
                </div>
                <a class="prev" (click)="plusSlides(-1)">❮</a>
                <a class="next" (click)="plusSlides(1)">❯</a>
            </div>
        </div>
    </div>


    <div class="dot__row">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
    </div>
</div>
