
.phone-icon {
  margin-right: 8px;
  height: 25px;
  width: 25px;
  fill: none;
  stroke: #545454;
  stroke-width: 6px;
  stroke-miterlimit: 10;
}

.address-icon {
  margin-right: 8px;
  height: 25px;
  width: 25px;
  fill: #545454;
}

.phone__link, .address-row{
  display: flex;
  align-items: center;
}
