<div class="help-page__wrapper">
    <div class="help-page__content content">
        <div class="help-page__title-row">
            <h1 class="help-page__title">Контакти</h1>
            <hr class="help-page__header-line">
        </div>
        <h1 class="help-page__header">Консультації та замовлення по телефону</h1>
        <p class="help-page__content-text">
            <a class="phone__link link" href="tel:+380472360337">
                <svg class="phone-icon">
                    <use xlink:href="#phone-icon"></use>
                </svg>
                +380 (472) 36-03-37
            </a>
        </p>
        <hr class="help-page__header-line">
        <h1 class="help-page__header">адреса магазину в місті черкаси</h1>
        <div class="help-page__content-text">
            <div class="address-row">
                <svg class="address-icon">
                    <use xlink:href="#address-icon"></use>
                </svg>
                м. Черкаси, вул. Байди Вишнівецького, 38
            </div>
        </div>

    </div>
</div>
