<div class="help-page__wrapper">
    <div class="help-page__content content">
        <div class="help-page__title-row">
            <h1 class="help-page__title">Питання-відповіді</h1>
            <hr class="help-page__header-line">
        </div>
        <p class="help-page__content-text help-page__strong">
            Скільки часу займає доставка і скільки вона коштує?
        </p>
        <p class="help-page__content-text">
            Кур'єрська доставка: 0 UAH
            <br>
            Термін доставки від 3 днів, в залежності від регіону. (Детальніше в розділі "Доставка")
            <br>
            Дні безкоштовної доставки
        </p>
        <hr class="help-page__header-line">
        <p class="help-page__content-text help-page__strong">
            Які переваги наявності облікового запису на svitoch.com?
        </p>
        <p class="help-page__content-text">
            Перш за все, Ви можете зберегти свою адресу доставки і дані рахунки, а також відстежити своє замовлення, оформити заявки на повернення товару та
            рекламації і легко зв'язатися з нашою службою підтримки клієнтів щодо ваших замовлень.
        </p>
    </div>
</div>