<div class="help-page__wrapper">
    <div class="help-page__content content">
        <div class="help-page__title-row">
            <h1 class="help-page__title">Ціни в магазині</h1>
            <hr class="help-page__header-line">
        </div>
        <p class="help-page__content-text help-page__strong">
            Чому іноді на ціннику є дві ціни - більш висока ціна і ціна нижча?
        </p>
        <p class="help-page__content-text">
            Ціни можуть бути змінені як на нижчі, так і на більш високі. Причини зміни цін можуть бути різними - економічні чинники, такі як зміна обмінних
            курсів або зміна транспортних витрат та інші. В цьому випадку неправильна ціна закреслена, і нова ціна застрягла на старій.
        </p>
        <hr class="help-page__header-line">
        <p class="help-page__content-text help-page__strong">
            Чи правда, що первісна ціна збільшується до початку акції?
        </p>
        <p class="help-page__content-text">
            Розміщення більш високої ціни і рекламної ціни в один час є незаконним. Потенційні зміни цін відбуваються до надходження товару в магазин.
        </p>
        <hr class="help-page__header-line">
        <p class="help-page__content-text help-page__strong">
            Чому не всі товари переоцінюються?
        </p>
        <p class="help-page__content-text">
            Рішення про зниження цін обумовлено багатьма факторами (в тому числі інтересом клієнтів до даного товару). Іноді товари менш популярні, ніж інші, і
            вони мають тенденцію до зниження. Тому може статися так, що тільки один товар буде зі знижкою, в той час як інші товари залишаться зі звичайною
            ціною.
        </p>
    </div>
</div>