<div class="help-page__wrapper">
    <div class="help-page__content content">
        <div class="help-page__title-row">
            <h1 class="help-page__title">Політика конфіденційності</h1>
            <hr class="help-page__header-line">
        </div>
        <h1 class="help-page__header">Політика конфіденційності</h1>
        <p class="help-page__content-text">
            На нашу думку, захист інформації про користувачів нашого веб-сайту має першорядне значення, тому ми докладаємо всіх зусиль, щоб ви відчували себе в
            безпеці, надаючи свої дані при використанні наших веб-сайтів. У цій Політиці конфіденційності розкрито правила та мету, порядок обробки персональних
            даних, права власників персональних даних та наші обов’язки як контролера даних.
        </p>
        <p class="help-page__content-text">
            Ми застосовуємо найсучасніші технічні й організаційні заходи для забезпечення високого рівня захисту оброблюваних персональних даних від
            несанкціонованого доступу.
        </p>

    </div>
</div>