.subcategories {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 16px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  transition: box-shadow .2s ease 0s, background-color .2s ease 0s, transform 0.1s ease 0s;
}

.main-subcategories__name {
  font-size: 18px;
  text-decoration: none;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  color: #000000;
  margin-bottom: 5px;
  height: 38px;
}

.image-wrapper {
  height: 250px;
  margin: 0 auto 10px;
}

.subcategories__image {
  display: block;
  min-width: 188px;
  min-height: 250px;
  max-height: 100%;
  max-width: 100%;
  background-color: #3E6256;
  color: white;
  text-align: center;
  line-height: 188px;
}

@media only screen and (min-width: 992px) {
  .subcategories:hover {
    transform: scale(1.1);
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
  }
}


@media only screen and (max-width: 576px) {

  .subcategories__image {
    margin: 0 auto 10px;
    width: 128px;
    height: 190px;
  }

  .main-subcategories__name {
    font-size: 14px;
  }
}