<div class="container">
    <div class="wrapper">

        <div class="login">

            <app-breadcrumb></app-breadcrumb>

            <div class="login__wrapper">
                <h2 class="login__header">
                    Вже зареєстровані?
                </h2>

                <form class="login__login-form login-form" [formGroup]="loginForm" (ngSubmit)="login()">


                    <div class="form__input-wrapper" *ngIf="loginWrapper">

                        <div class="form__error validation" *ngIf="auth.error$ | async as error">
                            {{error}}
                        </div>

<!--                        <div class="form__error validation" *ngIf="message">-->
<!--                            {{message}}-->
<!--                        </div>-->

                        <div class="form__control">
                            <label class="form__label">
                                <input type="email" class="form__input" placeholder="Адреса електронної скриньки" formControlName="email">
                            </label>
                            <div class="form__validation" *ngIf="loginForm.get('email').touched && loginForm.get('email').invalid">
                                <small class="validation" *ngIf="loginForm.get('email').errors.required">Введіть Email</small>
                                <small class="validation" *ngIf="loginForm.get('email').errors.email">Введіть вірний Email</small>
                            </div>
                        </div>


                        <div class="form__control">
                            <label class="form__label login-form__label-password">
                                <input type="password" class="form__input" placeholder="Пароль" formControlName="password">
                            </label>
                            <div class="form__validation" *ngIf="loginForm.get('password').touched && loginForm.get('password').invalid">
                                <small class="validation" *ngIf="loginForm.get('password').errors.required">Введіть пароль</small>
                                <small class="validation" *ngIf="loginForm.get('password').errors.minlength">
                                    Пароль має містити мінімум {{loginForm.get('password').errors.minlength.requiredLength}} символів.
                                    Зараз {{loginForm.get('password').errors.minlength.actualLength}}
                                </small>
                            </div>
                        </div>
                    </div>

                    <button class="login-form__btn btn" *ngIf="!loginWrapper" (click)="registrationWrapper = false; loginWrapper = true">
                        Вхід
                    </button>

                    <button class="login-form__btn btn" *ngIf="loginWrapper"
                            type="submit"
                            [ngClass]="{tooltip: loginForm.invalid}"
                            data-title="Заповніть всі поля"
                            [disabled]="loginForm.invalid || submitted">
                        Вхід
                    </button>
                </form>

                <button class="login__btn-popup">
                    Я забув пароль
                </button>
            </div>
        </div>

        <div class="registration">

            <div class="registration__wrapper">
                <h2 class="registration__header">
                    Реєстрація
                </h2>

                <form class="registration__registration-form registration-form" [formGroup]="registrationForm" (ngSubmit)="registration()">

                    <div class="form__input-wrapper" *ngIf="registrationWrapper">

                        <div class="form__error validation" *ngIf="auth.error$ | async as error">
                            {{error}}
                        </div>

<!--                        <div class="form__error validation" *ngIf="message">-->
<!--                            {{message}}-->
<!--                        </div>-->

                        <div class="form__control">
                            <label class="form__label">
                                <input type="email" class="form__input" placeholder="Адреса електронної скриньки" formControlName="email">
                            </label>
                            <div class="form__validation" *ngIf="registrationForm.get('email').touched && registrationForm.get('email').invalid">
                                <small class="validation" *ngIf="registrationForm.get('email').errors.required">Введіть Email</small>
                                <small class="validation" *ngIf="registrationForm.get('email').errors.email">Введіть вірний Email</small>
                            </div>
                        </div>

                        <div class="form__input-initials">
                            <div class="form__control registration-form__first-name">
                                <label class="form__label">
                                    <input type="text" class="form__input" placeholder="Ім'я" formControlName="firstName">
                                </label>
                                <div class="form__validation" *ngIf="registrationForm.get('firstName').touched && registrationForm.get('firstName').invalid">
                                    <small class="validation" *ngIf="registrationForm.get('firstName').errors.required">Введіть ім'я</small>
                                </div>
                            </div>

                            <div class="form__control registration-form__last-name">
                                <label class="form__label ">
                                    <input type="text" class="form__input" placeholder="Прізвище" formControlName="lastName">
                                </label>
                                <div class="form__validation" *ngIf="registrationForm.get('lastName').touched && registrationForm.get('lastName').invalid">
                                    <small class="validation" *ngIf="registrationForm.get('lastName').errors.required">Введіть прізвище</small>
                                </div>
                            </div>
                        </div>

                        <div class="form__control registration-form__input-password">
                            <label class="form__label">
                                <input type="text" class="form__input" placeholder="Пароль" formControlName="password">
                            </label>
                            <div class="form__validation" *ngIf="registrationForm.get('password').touched && registrationForm.get('password').invalid">
                                <small class="validation" *ngIf="registrationForm.get('password').errors.required">Введіть пароль</small>
                                <small class="validation" *ngIf="registrationForm.get('password').errors.minlength">
                                    Пароль має містити мінімум {{registrationForm.get('password').errors.minlength.requiredLength}} символів.
                                    Зараз {{registrationForm.get('password').errors.minlength.actualLength}}
                                </small>
                            </div>
                        </div>

                        <div class="form__control">
                            <label class="registration-form__input-checkbox">
                                <input type="checkbox" formControlName="subscribeCheckbox">
                                Так, я хочу підписатися на розсилку (опціонально)
                            </label>
                        </div>
                    </div>

                    <button class="registration-form__btn btn" *ngIf="!registrationWrapper" (click)="registrationWrapper = true; loginWrapper = false">
                        Створити обліковий запис
                    </button>

                    <button class="registration-form__btn btn" *ngIf="registrationWrapper"
                            type="submit"
                            [ngClass]="{tooltip: registrationForm.invalid}"
                            data-title="Заповніть всі поля"
                            [disabled]="registrationForm.invalid || submitted">
                        Створити обліковий запис
                    </button>
                </form>

                <div class="registration-form__benefits benefits" *ngIf="!registrationWrapper">
                    <h3 class="benefits__header">
                        Переваги
                    </h3>

                    <p class="benefits__info">
                        - Зручний спосіб відстеження свого замовлення
                    </p>

                    <p class="benefits__info">
                        - Легкий доступ до історії замовлень
                    </p>

                    <p class="benefits__info">
                        - Вигідна система накопичення бонусів
                    </p>
                </div>

                <p class="registration-form__info" *ngIf="registrationWrapper">
                    Натискаючи на кнопку "Створити обліковий запис", Ви приймаєте умови
                    <a [routerLink]="['/help', 'privacy-policy']" class="link registration-form__link">Політики конфіденційності</a>,
                    <a [routerLink]="['/help', 'terms-and-conditions']" class="link registration-form__link">Правила і умови використання сайту</a>
                </p>
            </div>
        </div>

    </div>
</div>