.filters-wrapper {
  width: 100%;
}

.filters-form {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.filters-list {
  display: flex;
  background-color: white;
  padding: 15px 20px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 100%;
}

.filters-list__item {
  margin-right: 5px;
  font-weight: 500;
  cursor: pointer;
}

.filters-list__item:last-child .filters-list__title {
  padding-right: 0;
}

.filters-list__title {
  font-size: 13px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 10px 25px 10px 0;
}

.chevron_down-icon {
  stroke: currentColor;
  stroke-width: 3px;
  stroke-linejoin: round;
  stroke-linecap: round;
  width: 10px;
  height: 10px;
  transition: transform 0.3s;
}

.chevron_up-icon {
  stroke: currentColor;
  stroke-width: 3px;
  stroke-linejoin: round;
  stroke-linecap: round;
  width: 10px;
  height: 10px;
  transform: rotate(180deg);
  transition: transform 0.3s;
}

.filters-list__sublist {
  position: absolute;
  min-width: 290px;
  max-height: 428px;
  overflow: auto;
  border: 1px solid rgba(0, 0, 0, .25);
  box-shadow: 0 1px 4px rgba(0, 0, 0, .5);
  background-color: white;
  z-index: 2;
  padding: 10px 0 0;
}

.filters-sublist__title {
  display: block;
  position: relative;
  padding: 15px 20px 15px 45px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.filters-sublist__title:hover {
  background-color: #f2f2f2;
}

.filters-sublist__title:hover .checkbox ~ .checkmark {
  background-color: #ccc;
}

.filters-sublist__title .checkbox:checked ~ .checkmark {
  background-color: #33403b;
}

.checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  left: 20px;
  top: 13px;
  height: 18px;
  width: 18px;
  border: 1px solid rgba(0, 0, 0, 0.25);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.filters-sublist__title .checkbox:checked ~ .checkmark:after {
  display: block;
}

.filters-sublist__title .checkmark:after {
  left: 5px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.btn-wrapper {
  position: sticky;
  left: 0;
  right: 0;
  background-color: white;
  padding: 15px 20px;
  bottom: 0;
}

.btn-filter {
  width: 100%;
  font-weight: 600;
}

@media only screen and (max-width: 1386px) {
  .filters-list__title {
    font-size: 12px;
    padding: 10px 15px 10px 0;
  }

  .filters-list__item:last-child .filters-list__title {
    padding: 10px 0 10px 0;
  }
}
