<div class="product" *ngIf="product">
    <a [routerLink]="['/product', product.id]" class="product__link">
        <div class="catalog-goods__image" [innerHTML]="product.photo" #productPhoto></div>
    </a>
    <div class="product__description">
        <div>
            <a [routerLink]="['/product', product.id]" class="main-goods__title" title="{{product.title}}">
                {{product.title}}
            </a>
            <a href="" class="main-goods__author" title="{{product.author}}">
                {{product.author}}
            </a>
        </div>
        <div class="main-goods__buy-row">
            <p class="main-goods__price">
                {{product.price | currency:'UAH':'symbol-narrow':'1.0-2'}}
            </p>
            <button data-btn class="btn__add-product-to-cart" title="Додати до кошика"
                    (click)="addProduct(product, $event)">
                <svg class="shopping-cart-icon">
                    <use xlink:href="#shopping-cart-icon"></use>
                </svg>
                <span class="add-product-to-cart__description">В кошик</span>
            </button>
        </div>
    </div>
</div>
