@import "~quill/dist/quill.snow.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем линии обводки */
:focus, :active {
  outline: none;
}

a:focus, a:active, button:focus, button:active {
  outline: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

nav, footer, header, aside {
  display: block;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.045em;
  font-size: 14px;
  background: #F8F8F8;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 14px;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

.btn {
  padding: 15px 25px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  border-radius: 3px;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.active {
  text-shadow: 0 0 .65px black, 0 0 .65px black;
}

.container {
  width: 100%;
  max-width: 1440px;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.link {
  text-decoration: none;
  color: black;
  font-weight: 500;
  transition: all .3s;
  cursor: pointer;
}

.validation {
  color: red;
}

.strong {
  font-weight: 600;
}

.tooltip {
  display: inline;
  position: relative;
}

.tooltip:hover:after {
  content: attr(data-title);
  z-index: 999;
  position: absolute;
  min-width: 3em;
  max-width: 21em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  bottom: 120%;
  left: calc(50% - 100px);
  padding: 1ch 1.5ch;
  border-radius: .3ch;
  background: #4d4d4d;
  opacity: .8;
  color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
  animation: tooltips-vert 300ms ease-out forwards;
}

@keyframes tooltips-vert {
  to {
    opacity: .9;
    transform: translate(0, 10%);
  }
}

/* =====Начало===== Стиль для раздела help ========= */
.help-page__wrapper {
}

.help-page__title-row {
  margin-bottom: 30px;
}

.help-page__title {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
}

.help-page__header {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 20px;
}

.help-page__content {
  width: 100%;
}

.help-page__header-line {
  height: 1px;
  background-color: rgba(0, 0, 0, 0.25);
  margin-bottom: 30px;
}

.help-page__content-text {
  margin-bottom: 20px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.75);
}

.help-page__strong {
  font-weight: 600;
}

/* =====Конец===== Стиль для раздела help ========= */


@media only screen and (max-width: 1920px) {
  .container {
    max-width: 1440px;
  }
}

@media only screen and (max-width: 1600px) {
  .container {
    max-width: 1140px;
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }

}

@media only screen and (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    max-width: 540px;
  }
}


@media only screen and (max-width: 576px) {
  .container {
    max-width: 100%;
  }
}